#activityView {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    width: vw;
    height: vh;
    z-index: 110000000000;
  }
  .activity-spinner-wrapper {
    // width: 42px;
    // height: 42px;
  }
  .activitySpinner {
    display: inline-block;
    // margin: 10px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border-right: solid 2px #f9f9f9;
    border-top: solid 3px #4af;
    background: #f9f9f9;
    box-shadow: 0 0 0 5px #f9f9f9;
    -webkit-animation: spinoffPulse 1s linear infinite;
    -moz-animation: spinoffPulse 1s linear infinite;
    -ms-animation: spinoffPulse 1s linear infinite;
    animation: spinoffPulse 1s linear infinite;
  }
  @-webkit-keyframes spinoffPulse {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinoffPulse {
    0% {
      -moz-transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-ms-keyframes spinoffPulse {
    0% {
      -ms-transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg);
    }
  }
  @keyframes spinoffPulse {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
    